body {
  background-image: url('C:\Users\meyta\Desktop\filter.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-style: inherit;
  color: white;
  text-align: center;

  

}
button {
  display: block;
  margin: 0 auto;}